<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <div class="text-white">
                        <h2><%=data.articles.length%></h2>
                        <h6>مقاله منتشر شده</h6>
                    </div>
                    <div class="ml-auto">
                        <span class="text-white display-6"><i class="mdi mdi-cloud-print-outline"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card bg-cyan">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <div class="text-white">
                        <h2>150</h2>
                        <h6>نظر ثبت شده</h6>
                    </div>
                    <div class="ml-auto">
                        <span class="text-white display-6"><i class="mdi mdi-comment-text"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <div class="text-white">
                        <h2><%=data.articles.sumFavs%></h2>
                        <h6>بار پسندیده شده</h6>
                    </div>
                    <div class="ml-auto">
                        <span class="text-white display-6"><i class="mdi mdi-heart"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card bg-orange">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <div class="text-white">
                        <h2>100</h2>
                        <h6>دنبال کننده</h6>
                    </div>
                    <div class="ml-auto">
                            <span class="text-white display-6"><i class="mdi mdi-run"></i><i
                                        class="mdi mdi-run-fast"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 row">
        <div class="col-12 text-center text-align-left">
            <h3>Plans are useless, but planning is everything.</h3>
        </div>
        <div class="col-12">
            <h3 class="page-title">آخرین مقالات</h3>
        </div>
        <%
        if(data.articles.length > 3) data.articles.length = 3
        %>
        <% for(const article of data.articles){ %>
            <div class="card article">
                <div class="d-flex flex-row">
                    <a href="/article/<%= article._id %>">
                        <h3 class="text-white box m-b-0">
                            <img src="/assets/articles/<%= article.image %>" class="w-100">
                        </h3>
                    </a>
                    <div class="p-10">
                        <a href="/article/<%= article._id %>">
                            <h3 class="text-info m-b-0"><%= article.title %></h3>
                        </a>
                        <p class="mt-2"><%- data.clipper(article.content, 300, {html: true, maxLines: 3}) %></p>
                        <span class="text-muted d-block">
                    نویسنده:
                    <%= article.author.first_name + " " + article.author.last_name %>,
                    تاریخ انتشار:
                    <%= article.created_at %>
                </span>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>