<% let article %>
<div class="row article m-3" style="height: 100vh">
    <div class="row offset-lg-2 col-lg-8 col-md-12 posts">
        <% article = data.articles[data.recommends.pop()] %>
        <div class="col-lg-5">
            <a href="/article/<%= article._id %>">
                <div class="post-recommend" style="background-image: url('/assets/articles/<%= article.image %>')">
                    <div class="post-detail text-align-right">
                        <div class="post-title w-100"><%= data.clipper(article.title, 40) %></div>
                        <div class="post-author d-flex">
                            <img src="/assets/avatars/<%= article.author.avatar %>"
                                 alt="<%= article.author.first_name + " " + article.author.last_name %>"
                                 class="rounded-circle">
                            <div class="d-flex flex-column">
                                <span class="author-name"><%= article.author.first_name + " " + article.author.last_name %></span>
                                <span class="post-date">۴ روز پیش</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <% article = data.articles[data.recommends.pop()] %>
        <div class="col-lg-7">
            <a href="/article/<%= article._id %>">
                <div class="post-recommend" style="background-image: url('/assets/articles/<%= article.image %>')">
                    <div class="post-detail text-align-right">
                        <div class="post-title w-100"><%= data.clipper(article.title, 40) %></div>
                        <div class="post-author d-flex">
                            <img src="/assets/avatars/<%= article.author.avatar %>"
                                 alt="<%= article.author.first_name + " " + article.author.last_name %>"
                                 class="rounded-circle">
                            <div class="d-flex flex-column">
                                <span class="author-name"><%= article.author.first_name + " " + article.author.last_name %></span>
                                <span class="post-date">۴ روز پیش</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <% article = data.articles[data.recommends.pop()] %>
        <div class="col-lg-7">
            <a href="/article/<%= article._id %>">
                <div class="post-recommend" style="background-image: url('/assets/articles/<%= article.image %>')">
                    <div class="post-detail text-align-right">
                        <div class="post-title w-100"><%= data.clipper(article.title, 40) %></div>
                        <div class="post-author d-flex">
                            <img src="/assets/avatars/<%= article.author.avatar %>"
                                 alt="<%= article.author.first_name + " " + article.author.last_name %>"
                                 class="rounded-circle">
                            <div class="d-flex flex-column">
                                <span class="author-name"><%= article.author.first_name + " " + article.author.last_name %></span>
                                <span class="post-date">۴ روز پیش</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <% article = data.articles[data.recommends.pop()] %>
        <div class="col-lg-5">
            <a href="/article/<%= article._id %>">
                <div class="post-recommend" style="background-image: url('/assets/articles/<%= article.image %>')">
                    <div class="post-detail text-align-right">
                        <div class="post-title w-100"><%= data.clipper(article.title, 40) %></div>
                        <div class="post-author d-flex">
                            <img src="/assets/avatars/<%= article.author.avatar %>"
                                 alt="<%= article.author.first_name + " " + article.author.last_name %>"
                                 class="rounded-circle">
                            <div class="d-flex flex-column">
                                <span class="author-name"><%= article.author.first_name + " " + article.author.last_name %></span>
                                <span class="post-date">۴ روز پیش</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 mt-2 mb-2 p-0">
            <img src="/assets/images/banner.jpg" alt="banner" class="w-100">
        </div>
        <div class="col-lg-4 col-md-12 text-align-right pt-4">
            <strong class="d-block mb-2 font-24">
                به آبلاگ خوش آمدید
            </strong>
            <p class="d-block muted-text mb-4">
                زمان آن رسیده که شیوه‌ی نوشتن و خواندن مطالبتان را تغییر دهید.
                اگر برای آغاز دوران جدید آماده هستید به ویرگول خوش آمدید.
            </p>
            <button class="btn btn-primary">
                میخواهم ثبت نام کنم
                >
            </button>
        </div>
        <div class="col-lg-8 col-md-12 pr-0">
            <% for(const article of data.articles){ %>
                <% if (article.recommend) continue %>
                <div class="bg-light pt-3 pb-3 mb-3 text-align-right">
                    <div class="w-100 d-flex pr-3 pl-3">
                        <img src="/assets/avatars/<%= article.author.avatar %>" alt="<%= article.author.first_name %>"
                             class="avatar-image rounded-circle">
                        <div class="d-flex flex-column">
                            <span class="text-muted">
                                <%= article.author.first_name + " " + article.author.last_name %>
                            </span>
                            <span class="text-muted">
                                <%= article.created_at %>
                            </span>
                        </div>
                    </div>
                    <a href="/article/<%=article._id%>">
                        <div class="col-12 mt-4">
                            <a href="/article/<%= article._id %>">
                                <div class="d-block title text-dark">
                                    <%= article.title %>
                                </div>
                            </a>
                        </div>
                    </a>
                    <a href="/article/<%=article._id%>">
                        <div class="col-12 mt-3">
                            <div class="post-recommend"
                                 style="background-image: url('/assets/articles/<%= article.image %>')"></div>
                        </div>
                    </a>
                    <a href="/article/<%=article._id%>">
                        <div class="col-12 mt-3">
                        <p class="card-text"><%- data.clipper(article.content, 200, {
                                html: true,
                                maxLines: 3
                            }) %></p>
                    </div>
                    </a>
                    <div class="col-12 mt-4 post-like text-muted">
                        <i class="far fa-heart"></i>
                        <%=article.favs%>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>